
<body class= "learnmore">

  <!-- title -->
  <h1> <span class="co-b">Co</span>  &nbsp; <span class="lab-b">Laboratory</span> </h1>

  <!-- grid -->
  <div class="grid-items">
    <!-- item 1 -->
    <a href="javascript:void(0)" class="grid-item">
      <%= image_tag("handshake-64.png") %>
      <h1>Collaborate</h1>
      <p>List items for colab</p>
        <div class="modal">
          <label for="modal-1">
            <div class="btn js-btn">More</div>
          </label>
          <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-1"></label>
                <h1>Collaboration</h1>
                <p class="intro">Collaboration on CoLaboratory is a curated experience!</p>
                <p class="body">CoLaboratory opens up the door to collaboration in a way
                                that will not make you feel spammed or bogged down with requests.
                                It is a curated expereince that gives you control.</p>
              </div>
            </div>
          </input>
        </div>
    </a>
    <!-- item 2 -->
    <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
      <%= image_tag("audio-wave-64.png") %>
      <h1>Music</h1>
      <p>Creators and Artists</p>
        <div class="modal">
          <label for="modal-2">
            <div class="btn js-btn">See More</div>
          </label>
          <input class="modal-state" id="modal-2" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-2"></label>
                <h1>Musical Creators</h1>
                <p class="intro">CoLaboratory lets you pull in your already hosted work from Soundcloud, Vimeo and Youtube</p>
                <p class="body">Once your profile is finished you can browse other artists and give feedback or look for
                                collaborators for your next project. </p>
              </div>
            </div>
          </input>
        </div>
    </a>

    <!-- item 3 -->
    <a href="javascript:void(0)" class="grid-item grid-item-big">
      <%= image_tag("inbox-5-64.png") %>
        <h1>Feedback</h1>
        <p>Get feedback on your creations</p>
        <div class="modal">
          <label for="modal-3">
            <div class="btn js-btn">See More</div>
          </label>
          <input class="modal-state" id="modal-3" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-3"></label>
                <h1>Modal Title</h1>
                <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
                <p class="body">etur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
              </div>
            </div>
          </input>
        </div>
    </a>
    </a>

   <!--  item 4 -->
    <a href="/faq" class="grid-item">
      <%= image_tag("view-details-64.png") %>
      <h1>FAQ</h1>
      <p>Check out our FAQ's</p>
    </a>

    <!-- item 5 -->
    <a href="javascript:void(0)" class="grid-item grid-item-image2">
      <%= image_tag("video-multi-64.png") %>
        <h1>Visual</h1>
        <p>Video Media and Creators</p>
        <div class="modal">
          <label for="modal-5">
            <div class="btn js-btn">See More</div>
          </label>
          <input class="modal-state" id="modal-5" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-5"></label>
                <h1>Modal Title</h1>
                <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
                <p class="body">etur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
              </div>
            </div>
          </input>
        </div>
    </a>
    <!-- item 6 -->
    <a href="javascript:void(0)" class="grid-item btn js-btn">
      <%= image_tag("column-view-64.png") %>
      <h1>Showcase</h1>
      <p>Present your works</p>
      <div class="modal">
          <label for="modal-5">
            <div class="btn js-btn">See More</div>
          </label>
          <input class="modal-state" id="modal-5" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-5"></label>
                <h1>Modal Title</h1>
                <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
                <p class="body">etur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
              </div>
            </div>
          </input>
        </div>
    </a>
    <a href="/signup" class="grid-item">
      <%= image_tag("start-64.png") %>
      <h1>Start Now</h1>
      <p>Ready, set, let's go!</p>
    </a>
  </div>

  <!-- footer -->
<%= render "footer" %>
</body>
