<h1><%= @content.title %></h1>

<h3>Creator: <%= link_to @content.user.username, user_path(@content.user.id) %></h3>
  <% case @content.provider.provider_type %>
    <% when "soundcloud" %>
      <div class="content-show">
        <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%= @content.media_id %>" width="700" height="150" scrolling="no" frameborder="no"></iframe>
      </div>
    <% when "vimeo" %>
      <div class="content-show">
        <iframe src="//player.vimeo.com/video/<%= @content.media_id %>
        " width="700" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% when "google_oauth2" %>
      <div class="content-show">
        <iframe id="ytplayer" type="text/html" width="700" height="350"
        src="http://www.youtube.com/embed/<%= @content.media_id %>"
        frameborder="0"></iframe>
      </div>
  <% end %>
  <div class="center-disqus">
    <div class="disqus">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'colaboratory'; // required: replace example with your
          var disqus_identifier = '<%= "contents/#{@content.id}"%>';
          var disqus_title = '<%= @content.title %>';
          var disqus_url = 'http://localhost:3000/<%= "contents/#{@content.id}"%>';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>

