<h1><%= @content.title %></h1>

<h3>Creator: <%= link_to @content.user.username, user_path(@content.user.id) %></h3>
  <% case @content.provider.provider_type %>
    <% when "soundcloud" %>
      <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%= @content.media_id %>" width="500" height="150" scrolling="no" frameborder="no"></iframe>
    <% when "vimeo" %>
      <iframe src="//player.vimeo.com/video/<%= @content.media_id %>
      " width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <% when "google_oauth2" %>
      <iframe id="ytplayer" type="text/html" width="500" height="350"
      src="http://www.youtube.com/embed/<%= content.media_id %>"
      frameborder="0"></iframe>
  <% end %>