<div class="content-wrapper">
  <div class="youtube-content" class="shadow">
    <figure class="with-caption">    
      <div class="video-wrapper">
        <iframe id="ytplayer" type="text/html" width="700" height="350" src="http://www.youtube.com/embed/<%= content.media_id %>"
            frameborder="0"></iframe>
      </div>
      <div class="caption">
        <p><%= link_to content.title, content_path(content.id) %></p>
        <p>By: <%= link_to content.user.username, user_path(content.user_id) %></p>

        <div class="tags">
        <div class="tag-c">
          <% if content.collab %>
            <%= "#collaborate" %>
          <% end %>
        </div>

        <div class="tag-f">
          <% if content.feedback %>
            <%= "#feedback" %>
          <% end %>
        </div>

        <div class="tag-l">
          <% if content.latest %>
            <%= "#latest" %>
          <% end %>
        </div>
      </div>
      </div>
    </figure>
  </div>
</div>