<p><%= link_to content.title, content_path(content.id) %></p>

<div>
<% if content.collab %>
  <%= "Looking to collaborate." %>
<% end %>
</div>

<div>
<% if content.feedback %>
  <%= "Seeking feedback on this project." %>
<% end %>
</div>

<div>
<% if content.latest %>
  <%= "My latest project." %>
<% end %>
</div>

<%= link_to content.user.username, user_path(content.user_id) %><br>
<iframe src="//player.vimeo.com/video/<%= content.media_id %>
  " width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>