<p><%= content.title %></p>

<div>
<% if content.collab %>
  <%= "Looking to collaborate." %>
<% end %>
</div>

<div>
<% if content.feedback %>
  <%= "Seeking feedback on this project." %>
<% end %>
</div>

<div>
<% if content.latest %>
  <%= "My latest project." %>
<% end %>
</div>

<iframe id="ytplayer" type="text/html" width="500" height="350"
    src="http://www.youtube.com/embed/<%= content.media_id %>"
    frameborder="0"></iframe>