<html class= "header-background">
<body>



  <div class="about-container">


      <h1><%= @user.username %> </h1>
      <%= @user.location %> | <%= @user.website %><br>
      <h4><%= roles(@user).join("/") %><h4><br>

      <%= @user.bio %>

      <div>
      </div>

      <h2> <%= @user.username %>'s content: </h2>

      <% item_counter = 0 %>
    <div class="content-form">
      <%= form_tag(contents_path, method: "post") do %>
        <% if @tracks %>
          <% @tracks.each do |track| %>
            <%= check_box_tag "[content_items][#{item_counter}][content]", true %>
            <%= label_tag :title, "Title:" %> <%= track[:title] %><br>
            <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%= track["id"] %>" width="500" height="150" scrolling="no" frameborder="no"></iframe><br>
            <% track.inspect%>

            <%= hidden_field_tag "[content_items][#{item_counter}][title]", track["title"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", track["id"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
            <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "soundcloud").id %>
            <div class="checkbox">
            <%= label_tag :collab, "Collab:" %>
            <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
            <%= label_tag :feedback, "Feedback:" %>
            <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
            <%= label_tag :latest, "Latest:" %>
            <%= check_box_tag "[content_items][#{item_counter}][latest]", true %>
            </div><br>

            <% item_counter += 1 %>
          <% end %>

        <% end %>

        <% if @videos %>
          <% @videos["videos"]["video"].each do |v| %>
            <%= check_box_tag "[content_items][#{item_counter}][content]", true %>
            <%= label_tag :title, "Title:" %> <%= v["title"] %><br>
            <iframe src="//player.vimeo.com/video/<%= v["id"] %>
          " width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>

            <%= hidden_field_tag "[content_items][#{item_counter}][title]", v["title"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", v["id"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
            <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "vimeo").id %>
            <div class="checkbox">
            <%= label_tag :collab, "Collab:" %>
            <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
            <%= label_tag :feedback, "Feedback:" %>
            <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
            <%= label_tag :latest, "Latest:" %>
            <%= check_box_tag "[content_items][#{item_counter}][latest]", true %>
            </div><br>

            <% item_counter += 1 %>

          <% end %>
        <% end %>

        <% if @youtubes %>
          <% @youtubes.each do |v| %>
            <%= check_box_tag "[content_items][#{item_counter}][content]", true %>
            <%= label_tag :title, "Title:" %><%= v["title"] %><br>
            <iframe id="ytplayer" type="text/html" width="500" height="350"
          src="http://www.youtube.com/embed/<%= v["video_id"] %>"
          frameborder="0"></iframe><br>

            <%= hidden_field_tag "[content_items][#{item_counter}][title]", v["title"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", v["video_id"] %>
            <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
            <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "google_oauth2").id %>
            <div class="checkbox">
            <%= label_tag :collab, "Collab:" %>
            <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
            <%= label_tag :feedback, "Feedback:" %>
            <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
            <%= label_tag :latest, "Latest:" %>
            <%= check_box_tag "[content_items][#{item_counter}][latest]", true %><
            </div>br>

            <% item_counter += 1 %>

          <% end %>
        <% end %>

        <div class="actions"><%= submit_tag "submit" %></div>
      <% end %>
    </div>

      <h2>Link another service</h2>
      <%= link_to("Vimeo", "/auth/vimeo") %>
      <%= link_to("Soundcloud", "/auth/soundcloud") %>
      <%= link_to("Youtube", "/auth/google_oauth2") %>
    </div>
  </div>
  </body>
</html>
