<html class= "header-background">
<body>



  <div class="about-container">
      <div class="user-info">
        <span><div class="username-edit"><h1><%= @user.username %></h1> <a href="/edit"> <%= image_tag("edit-24.png", class: "edit") %></a></div></span>
        <div class="avatar">
          <img src="<%= @user.avatar_with_default %>">
          <h5><%= roles(@user).join("/") %><h5>

          <p class="location"><%= @user.location %> | <%= @user.website %></p>

          <div class="bio">
            <%= @user.bio %>
          </div>
        </div>
      </div>

      <div class="dashboard-content">
        <h2>Add content to your profile</h2>
      </div>

      <% item_counter = 0 %>
    <div class="content-form">
      <%= form_tag(contents_path, method: "post") do %>
        <% if @tracks %>
          <% @tracks.each do |track| %>
            <div class="audio">
              <div class="select">
                <div class="switch-container">
                  <%= check_box_tag "[content_items][#{item_counter}][content]", true,
                  false, {id: "switch-toggle-1", class: "switch-checkbox"} %>
                  <label for="switch-toggle-1" class="switch-label" > 
                    <div class="switch-inner"></div>
                    <div class="switch-toggle-switch"></div>
                  </label>
                </div>
                <p><%= track[:title] %></p>
              </div>
                <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%= track["id"] %>" width="500" height="150" scrolling="no" frameborder="no"></iframe>
              

              <%= hidden_field_tag "[content_items][#{item_counter}][title]", track["title"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", track["id"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
              <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "soundcloud").id %>
              <div class="checkbox">
                <%= label_tag :collab, "Collab:" %>
                <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
                <%= label_tag :feedback, "Feedback:" %>
                <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
                <%= label_tag :latest, "Latest:" %>
                <%= check_box_tag "[content_items][#{item_counter}][latest]", true %>
              </div>
            <% item_counter += 1 %>
          <% end %>
        <% else %>
          <p class="link-content">You don't have any content from Soundcloud. Pull in content by clicking the link.</p>
        <% end %>
          </div>

        <% if @videos %>
          <% @videos["videos"]["video"].each do |v| %>
            <div class="v-vids">
              <div class="select">
                <div class="switch-container">
                  <%= check_box_tag "[content_items][#{item_counter}][content]", true, false, {id: "switch-toggle-1", class: "switch-checkbox"} %>
                <label for="switch-toggle-1" class="switch-label" >
                  <div class="switch-inner"></div>
                  <div class="switch-toggle-switch"></div>
                </label>
                </div>
              
              <p><%= v["title"] %></p>
              </div>
              <iframe src="//player.vimeo.com/video/<%= v["id"] %>
            " width="500" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>

              <%= hidden_field_tag "[content_items][#{item_counter}][title]", v["title"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", v["id"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
              <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "vimeo").id %>
              <div class="checkbox">
              <%= label_tag :collab, "Collab:" %>
              <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
              <%= label_tag :feedback, "Feedback:" %>
              <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
              <%= label_tag :latest, "Latest:" %>
              <%= check_box_tag "[content_items][#{item_counter}][latest]", true %>
              </div>

            </div>

            <% item_counter += 1 %>

          <% end %>
        <% else %>
          <p class="link-content">You don't have any content from Vimeo. Pull in content by clicking the link.</p>
        <% end %>

        <% if @youtubes %>
          <% @youtubes.each do |v| %>
              <div class="y-vids">
                <div class="select">
                  <div class="switch-container">
                    <%= check_box_tag "[content_items][#{item_counter}][content]", true, false, {id: "switch-toggle-1", class: "switch-checkbox"} %>
                    <label for="switch-toggle-1" class="switch-label" >
                      <div class="switch-inner"></div>
                      <div class="switch-toggle-switch"></div>
                    </label>
                  </div>
                  <p><%= v["title"] %></p> 
                </div>
              <iframe id="ytplayer" type="text/html" width="500" height="350"
            src="http://www.youtube.com/embed/<%= v["video_id"] %>"
            frameborder="0"></iframe><br>

              <%= hidden_field_tag "[content_items][#{item_counter}][title]", v["title"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][media_id]", v["video_id"] %>
              <%= hidden_field_tag "[content_items][#{item_counter}][user_id]", @user.id %>
              <%= hidden_field_tag "[content_items][#{item_counter}][provider_id]", @user.providers.find_by(provider_type: "google_oauth2").id %>
              <div class="checkbox">
                <%= label_tag :collab, "Collab:" %>
                <%= check_box_tag "[content_items][#{item_counter}][collab]", true %>
                <%= label_tag :feedback, "Feedback:" %>
                <%= check_box_tag "[content_items][#{item_counter}][feedback]", true %>
                <%= label_tag :latest, "Latest:" %>
                <%= check_box_tag "[content_items][#{item_counter}][latest]", true %>
              </div>
            </div>
            <% item_counter += 1 %>

          <% end %>
        <% else %>
          <p class="link-content">You don't have any content from Youtube. Pull in content by clicking the link.</p>
        <% end %>

        <div class="actions"><%= submit_tag "submit" %></div>
      <% end %>
    
    </div>

      <h2>Link another service</h2>
      <%= link_to("Vimeo", "/auth/vimeo") %>
      <%= link_to("Soundcloud", "/auth/soundcloud") %>
      <%= link_to("Youtube", "/auth/google_oauth2") %>
    </div>
  </div>
  </body>
</html>
