<div>
  <div class="profile-userinfo">
    <h1><%= @user.username %> </h1>
    <div class="avatar">
      <img src="<%= @user.avatar %>">
  </div>
    
  <div class="roles">  
    <h5><%= roles(@user).join("/") %><h5>
    <p class="location"><%= @user.location %> | <a href="<%= @user.website %>"><%= @user.website %></a></p>
  </div><br>

  <div class="profile-bio">
    Bio: <%= @user.bio %>
  </div>  

  </div>
</div>

<h2> <%= @user.username %>'s content: </h2>
  <div class="all-content">
  <% @contents.each do |content| %>
    <%= render "#{content.provider.provider_type}_content", content: content %>
  <% end %>
  </div>


