<div>
<img src="<%= @user.avatar %>">
<h1><%= @user.username %> </h1>
<%= @user.location %> | <a href="<%= @user.website %>"><%= @user.website %><br></a>
<h4><%= roles(@user).join("/") %><h4><br>

Bio: <%= @user.bio %>


</div>

<h2> <%= @user.username %>'s content: </h2>
  <div class="all-content">
  <% @contents.each do |content| %>
    <%= render "#{content.provider.provider_type}_content", content: content %>
  <% end %>
  </div>


