<p>This is the page as the signed in user sees their on page.</p><br>
They can link other accounts and choose which content will be displayed.


<h1><%= @user.username %> </h1>
<%= @user.location %> | <%= @user.website %><br>
<h4><%= roles(@user).join("/") %><h4><br>

<%= @user.bio %>

<div>
</div>

<h2> <%= @user.username %>'s content: </h2>

<% item_counter = 0 %>

<%= form_tag(contents_path, method: "post") do %>
    <% @tracks.each do |track| %>
      <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/<%= track["id"] %>" width="500" height="150" scrolling="no" frameborder="no"></iframe>
      <% track.inspect%>
      <%= check_box_tag 'content', true %>
      <%= label_tag :title, "Title:" %><%#= track[:title] %>
      <%= hidden_field_tag "['content_items'][#{item_counter}]['title']", track["title"] %>
      <%= hidden_field_tag "['content_items'][#{item_counter}]['media_id']", track["id"] %>
      <%= hidden_field_tag "['content_items'][#{item_counter}]['user_id']", @user.id %>
      <%= hidden_field_tag "['content_items'][#{item_counter}]['provider_id']", @user.providers.find_by(provider_type: "soundcloud").id %>
      
      <% item_counter += 1 %>
    <% end %>
  <div class="actions"><%= submit_tag "submit" %></div>
<% end %>

<h2>Link another service</h2>
<%= link_to("Vimeo", "/auth/vimeo") %>
<%= link_to("Soundcloud", "/auth/soundcloud") %>
<%= link_to("Youtube", "/auth/google_oauth2") %>