<!DOCTYPE html>
<html>
<head>
  <title>CoLaboratory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
  <% unless @hide_navbar == true %>
    <%= render "/users/header" %>
  <% end %>
  <% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>
<%= yield %>

<% unless @hide_footer == true %>
<%= render "/static_pages/footer" %>

<% end %>
</body>
</html>
